*{
    margin:0;
    padding:0;
    }
    section{
        margin-top: 50px;
    }
.hero-section{
    background-image: url(../assignment/Assets/Hero-bg.png);
    margin-top: 0%;
    padding: 10px 0px;
    background-size: cover;
    background-position: center;
    min-height:300px;
}
header{
    margin: 20px 100px;
}
.nav-menue{
    display: flex;
    justify-content: space-between;
}
.btn-primary{
    color:white;
    background-color:rgba(78, 71, 255, 1);
    padding: 10px 10px;
    border:none;
    border-radius:5px;

}
.hero-header{
    text-align: center;
    width: 905px;
    height:237px;
    margin:0 auto;
    margin-top: 158px;
    font-size: 45px;
    font-style: bold;
   
    
}
.action{
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-content: space-between;
}
.action-img img{
    border-radius: 48px;
}
.action-description{
    padding: 20px;
    line-height: 50px;
    max-width: 517px;
    height: 203px;
}
.h3-title{
    font-weight: bold;
    font-size: 42px;
}
.action-title-short-description{
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    margin-right: 40px;
}