*{
    margin:0;
    padding:0;
    }
    section{
        margin-top: 50px;
    }
/* for all text  */
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* dafault */
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

button, input, textarea, select {
  font-family: "Raleway", sans-serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.hero-section{
    background-image: url(../assignment/Assets/Hero-bg.png);
    margin-top: 0%;
    padding: 10px 0px;
    background-size: cover;
    background-position: center;
    min-height:300px;
}
header{
    margin: 20px 100px;
}
.nav-menue{
    display: flex;
    justify-content: space-between;
}
.btn-primary{
    color:white;
    background-color:rgba(78, 71, 255, 1);
    padding: 10px 10px;
    border:none;
    border-radius:5px;

}
.hero-header{
    text-align: center;
    width: 905px;
    height:237px;
    margin:0 auto;
    margin-top: 158px;
    font-size: 45px;
    font-style: bold;
   
    
}
.action{
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-content: space-between;
}
.action-img img{
    border-radius: 48px;
}
.action-description{
    padding: 20px;
    line-height: 50px;
    max-width: 517px;
    height: 203px;
}
.h3-title{
    font-weight: bold;
    font-size: 42px;
}
.action-title-short-description{
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    margin-right: 40px;
}
.user-container{
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color:rgba(78, 71, 255, 0.1);
    border-radius:24px ;
}
.user-heading{
    font-size:38px ;
    font-weight: bold;
    text-align: center;
    color: rgba(37, 36, 50, 1);
}
.user{
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 856px;
    margin: 0 auto;
    padding: 40px 20px;
    justify-content: space-between;

}

.user-title-value {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  font-weight: 700; /* বা আপনার পছন্দের ওয়েট (400, 500, 700 ইত্যাদি) */
  font-size: 5rem;
  color: rgba(78, 71, 255, 1);

}

.user-description{
    align-items: center;
    align-content: center;
    text-align: center;
}

